<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/styles.css" />

    <title>SoccerStats</title>
</head>
<body>
    <div class="container">
        <div class="heading">
            SoccerStats
        </div>
        {% block content %} 
        
        <!-- <form method="POST" action="players">
            <div class="maincontent">
                <label for="playername">Enter the name of a player to see their stats</label>
                <input id="playername" name="playername" type="text" placeholder="Enter Player Name" />
                <button class="submitbutton" id="player">Submit</button>
            </div>

        </form> -->
        <form method="POST" action="teams">
            <div class="maincontent">
                <label for="teamname">Enter the name of a team and a year to see their stats in that year</label>
                <input id="teamname" name="teamname" type="text" placeholder="Enter Team Name" />
                <input id="season" name="season" type="number" min="1000" max="9999" placeholder="YYYY" />
                <button class="submitbutton" id="team">Submit</button>
                
            </div>
            <div class="maincontent">
                {% if error %} {{ error }} {% endif %}
            </div>

        </form>
        {% endblock %}
    </div>
</body>
</html>